<div class=“banner-content”>
  <div class="container">
    <h1 class="text-center">Compartí tu garage y ganemos todos</h1>
  </div>
  <div class="container d-flex justify-content-end">
    <%= form_tag(garages_path, method: :get) do %>
      <%= text_field_tag :query, params[:query], autocomplete: 'off', placeholder: "Buscar" %>
      <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
      <%= link_to "Creá tu garage!", new_garage_path, :class => 'btn btn-outline-primary' %>
  </div>
</div>

<div class = "container cards">
  <div class="row">
    <% @garages.each do |garage| %>
      <div class=“col-sm-3”>
        <div class=card-deck>
          <div class="d-inline justify-content-center">
            <%= link_to garage_path(garage) do %>

              <div class="card shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card-img-top">
                <%= cl_image_tag(garage.photo.key,  height: 200, width: 300, crop: :fill) %>
              </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title"><%= garage.title %></h4>
                    <p class="card-text">
                      Ubicación: <%= garage.location %>
                    </p>
                    <% if policy(garage).show? %>
                      <%= link_to "Ver garage", garage_path(garage), :class => 'btn btn-outline-dark btn-sm boton' %>
                    <% end %>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex justify-content-around">
                      <div>Precio: $<%= garage.price %></div>
                      <div>Dueño: <%= garage.owner.full_name %></div>
                    </div>
                  </div>
                </div>
              </div> <!-- aca termina el card -->

            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
