<div class=“banner-content”>
  <h1 class="text-center">Compartí tu garage y ganemos todos</h1>
  <div class="d-flex justify-content-center">
      <%= link_to "Creá tu garage!", new_garage_path, :class => 'btn btn-primary btn-lg' %>
  </div>
</div>

<div class = “container”>
  <div class="row">
    <% @garages.each do |garage| %>
      <div class=“col-sm-3”>
        <div class=card-deck>
          <div class="d-inline">
            <%= link_to garage_path(garage) do %>

              <div class="card">
              <div class="card-img-top">
                <%= cl_image_tag(garage.photo.key,  height: 300, width: 400, crop: :fill) %>
              </div>
                <div class="card-body">
                  <h4 class="card-title"><%= garage.title %></h4>
                  <p class="card-text">
                    Ubicación: <%= garage.location %>
                  </p>
                  <div class= "buttons"></div>
                  <% if policy(garage).show? %>
                    <%= link_to "Ver garage", garage_path(garage), :class => 'btn btn-outline-dark' %>
                  <% end %>
                  <div class="card-footer">
                    <div class="d-flex justify-content-around">
                      <div>Precio: $<%= garage.price %></div>
                      <div>Dueño: <%= garage.owner.full_name %></div>
                    </div>
                  </div>
                </div>
              </div> <!-- aca termina el card -->

            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
