<h1>My garages</h1>
<div class = “container”>
  <div class="row">
    <% @garages.each do |garage| %>
      <div class=“col-sm-3”>
        <div class=card-deck>
          <div class="d-inline">
            <%= link_to garage_path(garage) do %>

              <div class="card shadow-sm" style="width: 432px; height:450px;">
              <div class="card-img-top">
                <% if garage.photo.attached? %>
                  <%= cl_image_tag(garage.photo.key,  height: 200, width: 400, crop: :fill) %>
                <% end %>
              </div>
                <div class="card-body">
                  <h4 class="card-title"><%= garage.title %></h4>
                  <p class="card-text">
                    Ubicación: <%= garage.location %>
                  </p>
                  <div class= "buttons d-flex justify-content-center">
                    <% if policy(garage).show? %>
                      <%= link_to "Ver", garage_path(garage), :class => 'btn btn-outline-dark' %>
                    <% end %>
                    <% if policy(garage).edit? %>
                      <%= link_to "Editar", edit_garage_path(garage), :class => 'btn btn-outline-dark' %>
                    <% end %>
                    <% if policy(garage).destroy? %>
                      <%= link_to "Eliminar", garage_path(garage), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-outline-dark' %>
                    <% end %>
                  </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex justify-content-around">
                      <div>Precio: $<%= garage.price %></div>
                      <div>Dueño: <%= garage.owner.full_name %></div>

                  </div>
                </div>
              </div> <!-- aca termina el card -->

            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
