  <div class="container mt-4">
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="garage-form">
          <h1>Creá tu garage</h1>
          <div class="mt-3">
            <%= simple_form_for @garage do |garage| %>
            <%= garage.input :title %>
            <%= garage.input :price %>
            <%= garage.input :location %>
            <%= garage.input :photo, as: :file %>
            <div class="d-flex justify-content-center">
              <%= garage.button :submit, class: 'btn btn-primary btn-lg' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
